aiodns>=1.1,<4
aiofiles>=0.8
aiohttp-socks>=0.7,<0.9
aiohttp>=3.8.6,<4
brotli>=1,<2; implementation_name == "cpython"
brotlicffi<2; implementation_name != "cpython"
certifi
charset-normalizer>=2,<4
rich>=12,<14
typing-extensions>=4.4,<5; python_version < "3.12"
uvloop>=0.14,<0.20; implementation_name == "cpython" and (sys_platform == "darwin" or sys_platform == "linux")
